body {
  background-color: #eee2dc;
}

.container-fluid {
  width: 90%;
}

.resume-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: auto;
  line-height: 35px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #123c69;
  padding-top: 10px;
}

h1 span {
  background-color: white;
  padding: 0px 10px 0px 10px;
  text-transform: uppercase;

}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-indent: 20px;
}

h2 span {
  text-transform: uppercase;
  border-bottom: 2px solid #123C69;
  color: #123C69;
  line-height: 35px;
}

.navbar {
  background: #BE426C;
  border-bottom: 2px solid #123c69;
}

.navbar-brand {
  font-family: 'Lora', serif;
  font-size: 60px;
  font-weight: 400;

}

.nav-item {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-right: 50px;
  text-align: right;
}

.nav-link,
.navbar-brand {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link {
  color: white;
}

.navbar-nav {
  margin: 0 auto;
  margin-right: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 30%;
  top: 40px;

}

.about-text {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  display: block;
  padding-top: 50px;
  font-size: large;
  text-align: center;
  line-height: 35px;
  margin: 0 auto;
  width: 90%;
}

.aboutme {
  margin: 0 auto;
}

.bio {
  background-color: white;
  padding: 15px;
  width: 70%;
  margin: 0 auto;
}

a {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: 400;
}

li {
  margin-left: 5px;
  width: 100%;
  line-height: 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#bmoreweddings {
  width: 50%;
  margin: auto;
}

.contactinfo {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
}

 h1 span {
  margin: auto;
 }

.headshot {
  border-radius: 50%;
}

.current {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #123c69;
  background-color: white;
  padding: 0px 10px 0px 10px;
  text-transform: uppercase;

}

ul {
  list-style-position: inside;
  list-style-type: circle;
  padding: 8px;
}

.education {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

li span {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: 400;
}

@media {
  .container-fluid {
    width: 100%;
  }
}
